[submodule "jupyterlab"]
	path = jupyterlab
	url = git@github.com:korsimoro/jupyterlab
[submodule "phosphor"]
	path = phosphor
	url = git@github.com:korsimoro/phosphor
[submodule "itypescript"]
	path = itypescript
	url = git@github.com:korsimoro/itypescript
[submodule "nteract"]
	path = nteract
	url = git@github.com:korsimoro/nteract
